
<p><a href="/dashboard">Bright Ideas</a> | <a href="/logout">Logout</a></p>
<h1>Name: @ViewBag.ShowUser.FirstName</h1>
<h1>Alias: @ViewBag.ShowUser.Alias</h1>
<h1>Email: @ViewBag.ShowUser.Email</h1>

<h1>Total # of Posts: @ViewBag.BrightIdeas.Count</h1>
<h1>Total # of Likes: @ViewBag.Guests.Count</h1>




